*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a{
    color: #fff;
}
a:hover{
    color: rgba(0, 109, 57, 1);
    transition: 0.3s;
}
.full-bg{
    background-image: url(https://fastly.jsdelivr.net/gh/NWAFU-CP/cp_blog/index/img/no3building.webp);
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}


.full-bg-cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.container {
    margin-top: 150px;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


.logo_div {
    width: 400px;
    display: flex;
    justify-content: center;

}
.logo_div img{
    width:250px;
    border-radius: 50%;
}
.logo_div img:hover {
    transform: rotate(15deg) scale(1.1);
    box-shadow: #eee 5px 2px 10px 1px;
    transition: 0.3s;
}
.title {
    margin-top: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.card{
    height: 100px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 5px 19px 0px white;
}
.card-item{
    margin-left: 5px;
}
.foot-bar{
    margin-top: 100px;
    /*width: 100%;*/

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 60px;
}

.bef-flink{
    flex: 1;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    color: #fff;
    font-size: 20px;

}
.friend-links{
    flex: 1;
    width: 250px;
    height: 100%;
    font-size: 20px;
}
.friend-links li{
    text-decoration: none;
    list-style-type: none;
}

.foo{
    width: 100%;
    height: 25px;
    text-align: center;
    color: #fff;
    background: rgba(255,255,255,0.2);
    font-size: 15px;
    position: fixed;
    bottom: 0;

}
.foo a{
    line-height: 20px;
    text-decoration: underline;
}

#waline{
    margin-right: 20%;
    margin-left: 20%;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 15px;

}
.bk2top{
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: rgba(0, 109, 57, 1);
    border-radius: 50%;
    color: #fff;
}

@media(max-width:850px) {
    .full-bg{
        background-image: url(https://fastly.jsdelivr.net/gh/NWAFU-CP/cp_blog/index/img/no3building-ph1.webp);

    }

    #waline {
        margin-right: 5px;
        margin-left: 5px;
        background: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 15px;
    }
}